footer {
  &.container.is-fluid {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-size: large;
  }
  
  .button {
    background-color: $none;
    font-family: 'paralinesregular', Arial, sans-serif;
    padding: 5rem 0;
    font-size: $size-1;
  }
}

// In vanilla CSS the above complies to

// footer.container.is-fluid {
//   padding-left: 0;
//   padding-right: 0;
// }

// footer .button {
//   padding: 5rem 0;
// }