header {
  &.container.is-fluid {
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  font-size: large;
}

.button {
<<<<<<< HEAD
  background-color: $electricviolet;
=======
  background-color: $none;
  font-family: 'Happy Monkey';
>>>>>>> 629c817db7707ef496a3ab994986fed4e44dd646
  padding: 5rem 0;
  font-size: $size-1;
}
}