
$blue3: #5851DB;
$primary: $blue3;

$purplepink: #C13584; 
$none: transparent;

$blue2: #405DE6; 
$blue: #5893E7;
$electricviolet: #BA4FEA;
$purple: #833AB4;
$pink: #E1306C;
$red: #FD1D1D;

$redicon: #E7093E;




