h1 {
  font-weight:normal;
  font-style:normal;
}

.fa-spotify {
  color:white;
}

// button {
//   font-color:white;
// }


//   <button class="button is-large">
//     <span class="icon is-medium">
//       <i class="fab fa-spotify"></i>
//     </span>
//     <span>Spotify</span>
//   </button>
// </p>